@import 'custom';

.page-header {
	position: relative;
}

.back-to-title {
	position: absolute;
	top: 0.1em;
	left: -1em;
	vertical-align: baseline;
	color: #ccc;
}

.sign-out-link {
	float: right;
}
