{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Tasklist</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/dist/main.css">
	<base href="{$basePath}">
</head>

<body>
	<div id="root"></div>
	<script src="{$basePath}/dist/main.js"></script>
</body>
</html>
